.App {
  text-align: center;
  background: #282c34;
}
h2{
  color: #fff;
  font-size: 2.5rem;
  font-weight: bold;
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
#body{
  background: #282c34;
  color: #fff;
  padding: 1rem;
}
#btnAdd{
  margin-right: 5%;
} 
#btnEdit{
  margin-right: 5%;
} 
#div{
  background: #282c34;
  border-color: #fff;
}
#div1{
  color: #fff;
}
#inputCss{
  background: #282c34;
  color: #fff;
}